{% extends 'base.html' %}
{%block title %}Sekretariat Demokratiefabrik{% endblock %} {% block content %}

<br>
<div style=" margin:1em;">
  <h1>Sekretariat Demokratiefabrik</h1>

  <p>Oh. Wir haben uns in der Demokratiefabrik verlaufen. Am besten ist es wohl, wenn wir uns zurück zum Eingang
    begehen. <br>
  </p>

  <p>
    <a href="https://www.demokratiefabrik.ch">Zurück zum Eingang</a><br>
    <a href="mailto:demokratiefabrik.ipw@unibe.ch">Die Betreiberin informieren</a>
  </p>

</div>


<br />

</div>
{% endblock %}